.outside {
    width: 100%;
    margin: auto;
    position: relative;
    background-color: #F8F9FA;
}
nav{
    background-color:#D6CCC2;
    font-family: "Playfair Display", serif;
    text-align:center;
}
nav a {
    color: inherit; /* 移除超連結顏色 */
    text-decoration: none;  /* 移除超連結底線 */
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding: 10px;
    letter-spacing: 1px;
}
nav > ul {
    list-style: none;   /* 移除項目符號 */
    border-radius: 10px;
    margin: 0px;
    padding: 10px;
    margin-bottom: 15px;
}
nav a:hover {
    background-color: #D6CCC2;
    color: #867b70;
}
.nav-flex {
    display: flex;
    justify-content: center;
}
.nav-flex li {
    margin: 0; /* 清除原本的 margin */
    flex-grow: 0;
}
.inline-block-nav {
    text-align: center;
    font-size: 2;   /* 移除 <li> 之間的空隙 */
}
.inline-block-nav > li {
    display: inline-block;
}
.myphoto {
    border-radius: 50%; /* 將圓角設置為一半的寬度和高度 */
    overflow: hidden; /* 保證圖片在圓形區域內顯示 */
    height: 250px;
    margin-left: 250px;
    margin-top: 65px;
}
.about{
    background-color: #F8F9FA;
    display: flex;
}
.aboutme1 {
    width:30%;
}
.aboutme2{
    width: 70%;
    margin-top: 60px;
    margin-left: 200px;
}
.title1{
    font-size: 20px;
    margin-right: 600px;
    letter-spacing: 1.5px;
    font-size: 25px;
    margin-top: -30px;
    color:#C9ADA7;
}
.horizontal-line {
    border-top: 3px solid #D6CCC2; 
    margin: 10px 600;
    margin-top: 15px;
    width: 40%;
}
.name{
    margin-left: 110px;
    font-size: 25px;
    font-family: "Noto Serif TC", serif;
    color:#C9ADA7;
    margin-left: 300px;
    margin-top: 10px;
}
.word1{
    position:relative;
    margin-right: 500px;
    margin-top: 50px;
    color:#C9ADA7;
    font-size: 20px;
    line-height: 1px;
    text-align: left;
}
.icon {
    width: 40px;
    margin-top: 30px;
    margin-left: -320px;
    margin-right: 330px;
    outline:none;
}
.skills{
    background-color: #D6CCC2;
    display: flex;
    padding: 300px;
}
.vertical-line {
    width: 11px;
    height: 70px; 
    background-color: #4A4E69; 
    margin-left: -130px;
    margin-top: -550px;
}
.title2{
    font-size: 40px;
    color:#4A4E69;
    font-family:"Playfair Display", serif;
    margin-top: -550px;
    margin-left: -500px;
    letter-spacing: 1.5px;
}
.title2-1{
    font-size: 30px;
    color:#4A4E69;
    font-family:"Playfair Display", serif;
    margin-top: -450px;
    margin-left: 100px;
}

.word2{
    font-size: 30px;
    display: flex;
    color:#FFFFFF;
    letter-spacing: 3px;
    font-family: "Playfair Display", serif;
    margin-top: -375px;
    margin-left: -125px;
}
.word3{
    font-size: 30px;
    display: flex;
    color:#FFFFFF;
    letter-spacing: 3px;
    font-family: "Playfair Display", serif;
    margin-top: -375px;
    margin-left: 175px;
}
.word4{
    font-size: 30px;
    display: flex;
    color:#FFFFFF;
    letter-spacing: 3px;
    font-family: "Playfair Display", serif;
    margin-top: -375px;
    margin-left: 200px;
}
.word5{
    font-size: 30px;
    display: flex;
    color:#FFFFFF;
    letter-spacing: 3px;
    font-family: "Playfair Display", serif;
    margin-top: -375px;
    margin-left: 250px;
}

.title2-2{
    font-size: 30px;
    color:#4A4E69;
    font-family:"Playfair Display", serif;
    margin-top: 350px;
    margin-left: -2550px;
}
.projects{
    background-color: #F8F9FA;
    padding: 600px;
    display: flex;
}
.title3{
    font-size: 40px;
    color:#867b70;
    font-family:"Playfair Display", serif;
    margin-top: -580px;
    margin-left: -850px;
    letter-spacing: 1.5px;
}
.vertical-line1{
    width: 7px; 
    height: 70px; 
    background-color: #867b70; 
    margin-left: -520px;
    margin-top: -60px;
}
.about{
    display: flex;
}
.activities1{
    width: 30%;
    height: 300px;
}
.activities1_text{
    width:40%;
}
.snowphoto{
    height: auto;
    width:600px;
    margin-top: 20px;
    margin-left: -450px;
    border-radius: 5%;
}
.title3-1{
    font-size: 30px;
    color:#867b70;
    font-family:"Playfair Display", serif;
    margin-top: 20px; 
    margin-left: -550px; 
}
.word6{
    font-size: 30px;
    color:#bea993;
    font-family:"Playfair Display", serif;
    margin-top: -430px; 
    margin-left: -500px; 
}
.word7{
    font-size: 30px;
    color:#867b70;
    font-family:"Playfair Display", serif;
    margin-top: -230px; 
    margin-left: 300px; 
}
.word8{
    font-size: 30px;
    color:#bea993;
    font-family:"Playfair Display", serif;
    margin-top: 50px; 
    margin-right: 100px;
}
.carpenterphoto{
    height: auto;
    width:600px;
    margin-top: 20px;
    margin-left: 0px;
    border-radius: 5%;
}
.word9{
    font-size: 30px;
    color:#867b70;
    font-family:"Playfair Display", serif;
    margin-top: 340px;
    margin-left: -1900px;

}
.word10{
    font-size: 30px;
    color:#bea993;
    font-family:"Playfair Display", serif;
    margin-top: 600px; 
    margin-left: -2200px;
}

.eatphoto{
    height: auto;
    width: 600px;
    margin-top: 20px;
    margin-left: -1940px;
    border-radius: 5%;
}
.word11{
    font-size: 30px;
    color:#867b70;
    font-family:"Playfair Display", serif;
    margin-top: 950px;
    margin-left: -650px;
}