.outside {
    width: 100%;
    margin: auto;
    position: relative;
    background-color: #F8F9FA;
}
nav{
    background-color:#D6CCC2;
    font-family: "Playfair Display", serif;
    text-align:center;
}
nav a {
    color: inherit; 
    text-decoration: none;  
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding: 10px;
    letter-spacing: 1px;
}
nav > ul {
    list-style: none;   
    border-radius: 10px;
    margin: 0px;
    padding: 10px;
    margin-bottom: 15px;
}
nav a:hover {
    background-color: #D6CCC2;
    color: #867b70;
}
.nav-flex {
    display: flex;
    justify-content: center;
}
.nav-flex li {
    margin: 0; 
    flex-grow: 0;
}
.inline-block-nav {
    text-align: center;
    font-size: 2;   
}
.inline-block-nav > li {
    display: inline-block;
}
.myphoto {
    border-radius: 50%; 
    overflow: hidden; 
    height: 250px;
    margin-left: 250px;
    margin-top: 65px;
}
.about{
    background-color: #F8F9FA;
    display: flex;
}
.aboutme1 {
    width:30%;
}
.aboutme2{
    width: 70%;
    margin-top: 60px;
    margin-left: 200px;
}
.title1{
    font-size: 20px;
    margin-right: 600px;
    letter-spacing: 1.5px;
    font-size: 25px;
    margin-top: -30px;
    color:#C9ADA7;
}
.horizontal-line {
    border-top: 3px solid #D6CCC2; 
    margin: 10px 600;
    margin-top: 15px;
    width: 40%;
}
.name{
    margin-left: 110px;
    font-size: 25px;
    font-family: "Noto Serif TC", serif;
    color:#C9ADA7;
    margin-left: 300px;
    margin-top: 10px;
}
.word1{
    position:relative;
    margin-right: 500px;
    margin-top: 50px;
    color:#C9ADA7;
    font-size: 20px;
    line-height: 1px;
    text-align: left;
}
.icon {
    width: 40px;
    margin-top: 30px;
    margin-left: -320px;
    margin-right: 330px;
    outline:none;
}
.skills{
    background-color: #D6CCC2;
    display: flex;
    padding: 300px;
}
.vertical-line {
    width: 15px;
    height: 70px; 
    background-color: #4A4E69; 
    margin-left: -130px;
    margin-top: -550px;
}
.title2{
    font-size: 40px;
    color:#4A4E69;
    font-family:"Playfair Display", serif;
    margin-top: -550px;
    margin-left: -500px;
    letter-spacing: 1.5px;
}
.title2-1{
    font-size: 30px;
    color:#4A4E69;
    font-family:"Playfair Display", serif;
    margin-top: -450px;
    margin-left: 100px;
}
.skillsbar {
    width: 70%;
    margin-top: 100px;
    margin-left: 200px;
}

.skillsbar p {
    text-align: center;
    padding: 10px;
    width: 50px;
}

.skillsbar li {
    list-style: none;
    position: relative;
    font-size: 18px;
    border-radius: 30px;
    font-family: "Playfair Display", serif;
    margin: 48px 0;
}

.skillsbar li::before,
.skillsbar li::after {
    content: "";
    display: block;
    height: 10px;
    width: 100%;
    background-color: white;
    position: absolute;
    bottom: -35px;
    padding: 10px;
    border-radius: 30px;
}

.skillsbar li::before {
    box-shadow: 0 0 6px #D9D4CF;
}

.skillsbar li::after {
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
.draw::after {
    animation-name: draw;
}

.video::after {
    animation-name: video;
}

.photo::after {
    animation-name: photo;
}

.d3::after {
    animation-name: d3;
}

@keyframes draw {
    from {
        width: 0%;
        background-color: #ECECEC;
    }

    to {
        width: 75%;
        background-color: #504c66;
    }
}

@keyframes video {
    from {
        width: 0%;
        background-color: #ECECEC;
    }

    to {
        width: 80%;
        background-color: #504c66;
    }
}
@keyframes photo {
    from {
        width: 0%;
        background-color: #ECECEC;
    }

    to {
        width: 95%;
        background-color: #504c66;
    }
}

@keyframes d3 {
    from {
        width: 0%;
        background-color: #ECECEC;
    }

    to {
        width: 50%;
        background-color: #504c66;
    }
}
.size{
    width: 60%;
}
.word2{
    font-size: 30px;
    display: flex;
    color:#FFFFFF;
    letter-spacing: 3px;
    font-family: "Playfair Display", serif;
    margin-top: -375px;
    margin-left: -125px;
}
.word3{
    font-size: 30px;
    display: flex;
    color:#FFFFFF;
    letter-spacing: 3px;
    font-family: "Playfair Display", serif;
    margin-top: -375px;
    margin-left: 175px;
}
.word4{
    font-size: 30px;
    display: flex;
    color:#FFFFFF;
    letter-spacing: 3px;
    font-family: "Playfair Display", serif;
    margin-top: -375px;
    margin-left: 200px;
}
.word5{
    font-size: 30px;
    display: flex;
    color:#FFFFFF;
    letter-spacing: 3px;
    font-family: "Playfair Display", serif;
    margin-top: -375px;
    margin-left: 250px;
}

.title2-2{
    font-size: 30px;
    color:#4A4E69;
    font-family:"Playfair Display", serif;
    margin-top: 350px;
    margin-left: -2550px;
}
.projects{
    background-color: #F8F9FA;
    padding-top: 600px;
    display: flex;
    border-radius: 0;
}
.title3{
    font-size: 40px;
    color:#867b70;
    font-family:"Playfair Display", serif;
    margin-top: -580px;
    margin-left: 90px;
    letter-spacing: 1.5px;
}
.vertical-line1{
    width: 7px; 
    height: 70px; 
    background-color: #867b70; 
    margin-left: 75px;
    margin-top: -60px;
}
.about{
    display: flex;
}
.activities1{
    width: 30%;
    height: 300px;
}
.activities1_text{
    width:40%;
}
.snowphoto{
    height: auto;
    width:500px;
    margin-top: -900px;
    margin-left: -100px;
    border-radius: 5%;
}
.snowphoto:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease;
}
.title3-1{
    font-size: 30px;
    color:#867b70;
    font-family:"Playfair Display", serif;
    margin-top: 20px; 
    margin-left: 70px; 
    margin-right: -220px;
}
.word6{
    font-size: 30px;
    color:#bea993;
    font-family:"Playfair Display", serif;
    margin-top: 40px; 
    margin-left: 100px; 
    margin-right: -330px;
}
.word7{
    font-size: 30px;
    color:#867b70;
    font-family:"Playfair Display", serif;
    margin-top: -230px; 
    margin-left: 40px; 
    margin-right: -600px;
}
.word8{
    font-size: 30px;
    color:#bea993;
    font-family:"Playfair Display", serif;
    margin-top: 30px; 
    margin-left: -320px;
    margin-right: -600px;
}
.carpenterphoto{
    height: auto;
    width:450px;
    margin-top: 30px;
    margin-left: 150px;
    margin-right: -100px;
    border-radius: 5%;
}
.carpenterphoto:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease;
}
.word9{
    font-size: 30px;
    color:#867b70;
    font-family:"Playfair Display", serif;
    margin-top: 160px;
    margin-left: -1100px;
    margin-right: 650px;
}
.word10{
    font-size: 30px;
    color: #bea993;   
    font-family:"Playfair Display", serif;
    margin-top: 450px; 
    margin-left: -1750px;
    margin-right: 300px;
}

.eatphoto{
    height: auto;
    width: 400px;
    margin-top: 30px;
    margin-left: -1950px;
    border-radius: 5%;
}
.eatphoto:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease;
}
.word11{
    font-size: 30px;
    color:#867b70;
    font-family:"Playfair Display", serif;
    margin-top: 650px;
    margin-left: -700px;
    margin-right: 150px;
}
.experiences{
    background-color: #F8F9FA;
    padding: 250px;
    display: flex;
    border-radius: 0;
}
.titles4{
    font-size: 40px;
    color:#867b70;
    font-family:"Playfair Display", serif;
    margin-top: 500px;
    margin-left: -850px;
    letter-spacing: 1.5px;
}
.vertical-line2{
    width: 7px; 
    height: 70px; 
    background-color: #867b70; 
    margin-left: -170px;
    margin-top:-170px;
}
.title4{
    font-size: 40px;
    color:#867b70;
    font-family:"Playfair Display", serif;
    margin-top: -200px;
    margin-left: -300px;
    letter-spacing: 1.5px;
}
.title4_1{
    font-size: 30px;
    color:#bea993;
    font-family:"Playfair Display", serif;
    margin-top: 50px; 
    margin-left: -130px;
}
.time1{
    font-size: 30px;
    color:#D3C1AF;
    font-family:"Playfair Display", serif;
    margin-top: 0px; 
    margin-left: -550px;
}
.time2{
    font-size: 30px;
    color:#D3C1AF;
    font-family:"Playfair Display", serif;
    margin-top: 60px; 
    margin-left: -550px;
}
.time3{
    font-size: 30px;
    color:#D3C1AF;
    font-family:"Playfair Display", serif;
    margin-top: 60px; 
    margin-left: -550px;
}
.work1{
    font-size: 30px;
    color:#D3C1AF;
    font-family:"Playfair Display", serif;
    margin-top: 0px; 
    margin-left: -20px;
    text-align: left;
}
.work1_1{
    font-size: 20px;
    color:#D3C1AF;
    font-family:"Playfair Display", serif;
    margin-top: 5px; 
    margin-left: -20px;
    text-align: left;
}
.work2{
    font-size: 30px;
    color:#D3C1AF;
    font-family:"Playfair Display", serif;
    margin-top: 20px; 
    margin-left: -20px;
    text-align: left;
}
.work2_1{
    font-size: 20px;
    color:#D3C1AF;
    font-family:"Playfair Display", serif;
    margin-top: 5px; 
    margin-left: -20px;
    text-align: left;
}
.work3{
    font-size: 30px;
    color:#D3C1AF;
    font-family:"Playfair Display", serif;
    margin-top: 20px; 
    margin-left: -20px;
    text-align: left;
}
.work3_1{
    font-size: 20px;
    color:#D3C1AF;
    font-family:"Playfair Display", serif;
    margin-top: 5px; 
    margin-left: -15px;
    text-align: left;
}
.right {
    text-align: center;
    font-weight: bold;
    background-color: #D6CCC2;
    padding: 0.3%;
    color:#FFFFFF;

}
.rightph {
    height: 10px;
    font-family: 'Playfair Display', serif;
    color:#FFFFFF;
}